* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
}

body {
    color: white;
    background-color: black;
    font-family: 'Malgun Gothic', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9); 
}


.source-text {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}

a {
    color: white;
    text-underline-offset: 3px;
    text-decoration-thickness: 0.2px;
}


.bottom-left {
    position: absolute;
    bottom: 200px; 
    left: 60px;
    font-size: 22px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.bottom-right {
    position: absolute;
    bottom: 200px; 
    right: 60px;
    text-align: right;
    font-size: 22px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}


@media screen and (max-width: 700px) {
    .main-text {
        font-size: 15px;
        top: 77px;
        left: 20px;
        width: 80%;
    }
    
    .bottom-left {
        font-size: 18px;
        bottom: 160px;
        left: 20px;
        width: 80%;
    }
    .bottom-right {
        font-size: 18px;
        bottom: 80px;
        right: 20px;
        width: 80%;
    }
    .source-text {
        font-size: 12px;
    }
}