* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Malgun Gothic', sans-serif;
}

.leesujin {
    color: white;
}

.bg-container {
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bgimage {
	width: 100%;
    height: 100%;
    object-fit: cover;

}

.main-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.title {
    font-size: 26px; 
    font-weight: bold;
    color: white;
    margin-bottom: 20px; 
    text-align: center; 
    line-height: 1.3;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5); 
}

.sub-link {
    text-decoration: none; 
    color: white;
    display: inline-block;
}

.sub-link p {
    font-size: 18px;
    font-weight: normal; 
    padding: 10px 20px; 
    border-radius: 5px;  
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); 
}

.sub-link:hover p {
    font-weight: bold; 
}

@media screen and (max-width: 700px) {
    .title {
        font-size: 22px;
    }
    .sub-link p{
        font-size: 15px;
    }

}
