* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all; 
}

body {
    color: white;
    background-color: black;
    font-family: 'Malgun Gothic', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: brightness(0.9); 
}

a {
    color: white;
}

.title-text, .main-text {
    position: absolute;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8); 
}


.title-text {
    top: 30px;
    left: 30px;
    font-size: 25px; 
    font-weight: 700;
}

.law-title {
    padding-bottom: 10px;
    width: fit-content; 
}


.main-text {
    font-size: 20px; 
    font-weight: 500;
    line-height: 1.5;
}

.surface {
    bottom: 200px; 
    left: 40px;
}


.slope {
    bottom: 60px;
    left: 40px;
    width: 85%; 
}

.length {
    top: 55%; 
    right: 70px; 
    text-align: right;
}

.next-arrow {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 50px;
    display: block;
    z-index: 10;
}

.next-arrow img {
    width: 100%;
    filter: invert(1); 
}


@media screen and (max-width: 700px) {
    .bg-image {
        filter: brightness(0.8);
        content: url('images/lawpage_rampmobile.jpg'); 
    }

    .title-text {
        font-size: 18px;
        top: 30px;
        left: 20px;
    }
    
    .main-text {
        font-size: 16px; 
    }

    .surface {
        bottom: 45%;
        left: 50px;
    }

    .slope {
        bottom: 40px;
        left: 20px;
        width: 90%;
    }

    .length {
        top: 30%;
        left: 20px;
    }
}